h2 Sponsers

p <img src="http://cdn.huang.mx/i/YjYaU.png" alt="tragicservers" />

p A huge thanks to tragic over at TragicServers for providing TF2 and mumble server prizes for the winners of this community event.
p TragicServers sell cheap, high quality Chicago and Dallas based NFO TF2 servers starting at 12 slots. Their servers are great for both competitive and public TF2 servers.
p We have special TragicServers coupon codes that will last for the duration of this tournament:

ul
  li <b>ULTIDUO</b> - Get a free extra slot with your gameserver purchase.
  li <b>ULTIDUO2</b> - Get a free mumble server with your gameserver purchase.

p Visit their <a href='http://tragicservers.com'>website</a> or <a href='http://steamcommunity.com/groups/tragicservers'>Steam group</a> for more information.

h2 Credits
ul
  li Site development - Gcommer
  li Web design and fixing Gcommer's horrid code - frailbod
  li Banner/logo design - cupid and kovaru