#main
	p
		| Ultiduo is a competetive 2v2 format with soldier and medic teams. It is
		| played on the map&nbsp;
		a(href='http://ozfortress.com/maps/TF2/koth_ultiduo_r_b7',
			title='koth_ultiduo_r_b7') koth_ultiduo_r_b7
		| .
	p In this tournament, you will not have to find a teammate. <b>Teams will be randomly assigned</b> and <b>you will have to play with that teammate for the duration of the tournament</b>.

	p If you plan on playing, check this website daily for match information and updates.

	h2 Requirements
	ul
		li
			| You <b>MUST</b> have basic knowledge and experience with competetive TF2,
			| whether it be 6s or Highlander on TF2Lobby, #tf2.pug.na, or a TF2 league
			| (ESEA, CEVO, ETF2L).
		li
			| You <b>MUST</b> have a working microphone and be comfortable talking to
			| a random stranger on the internet.
		li
			| You <b>MUST</b> be able to work together with a partner and make <b>ALL</b> the match dates.

	h2 Rules
	ul
		li
			| Teams will play best 2 out of 3 rounds on a standard KOTH 5 minute
			| capture time config.
		li This is a single elimination tournament.
		li
			| Each team is allowed 1 pause for a maxmimum of 5 minutes for the
			| ENTIRE game.
		li
			| If a full team is unable to show up within 15 minutes after the set match time,
			| the opposing team wins.
		li
			| <b>ONE</b> player from the <b>WINNING</b> team must report the match
			| result.
		li Ringing is not allowed.
		li Admins have the final say.

	h2 Dates
	ul
		li The deadline to register will be <b>Sunday, July 1, 2012 @ 12:00PM EST</b>.
		li Teams will be randomly assigned on <b>Monday, July 2, 2012</b>.
		li
			| Matches will begin every week on <b>Saturday @ 10:00 EST</b> starting <b>Saturday,
			| July 7, 2012 @ 10:00PM EST</b>.
		li
			| The end date will vary depending on the number of players that sign up.
			| Remember that this is a single elimination tournament, so you will likely
			| not be playing the whole time.

	h2 Servers
	ul
		li TF2 servers will be provided every week on the match day. These servers will located in Ashburn, Virginia, USA.
		li Free mumble servers for voice comms are located at mumble.redditgaming.com:64748 or mumble.redditeast.com:64738. You can, of course, use your own mumble server too.


	h2 Prizes
	ul
		li 1st Place: 10 keys per player
		li 2nd Place: 5 keys per player
		li 3rd Place: 2 keys per player

	h2
		a(href= steam_login) Register to play! (sign in through Steam)