p
  | Ultiduo is a competetive 2v2 format with soldier and medic teams. It is
  |  played on the map&nbsp;
  a(href='http://ozfortress.com/maps/TF2/koth_ultiduo_r_b7',
    title='koth_ultiduo_r_b7') koth_ultiduo_r_b7
  | .

p
  | In this tournament, you will not have to find a teammate.
  b  Teams will be randomly assigned
  |  and
  b  you will have to play with that teammate for the duration of the tournament
  | .

p
  | If you plan on playing, check this website daily for match information
  |  and updates. Signup by clicking the link on the left or at the bottom of this page.

h2 Requirements
ul
  li
    | You
    b  MUST
    |  have basic knowledge and experience with competetive TF2,
    | whether it be 6s or Highlander on TF2Lobby, #tf2.pug.na, or a TF2 league
    | (UGC, ESEA, CEVO, ETF2L).
  li
    | You <b>MUST</b> have a working microphone and be comfortable talking to
    | a random stranger on the internet.
  li
    | You
    b  MUST
    |  be able to work together with a partner and make
    |  the match dates.

h2 Dates
ul
  li
    | The deadline to register will be
    b  Sunday, July 1, 2012 at 12:00PM EST
    | .
  li Teams will be randomly assigned on <b>Monday, July 2, 2012</b>.
  li
    | Matches will begin every week on
    b  Saturday at 10:00 EST
    |  starting
    b  Saturday, July 7, 2012
    | .
  li
    | The end date will vary depending on the number of players that sign
    | up.

h2 Servers
ul
  li
    | TF2 servers will be provided every week on the match day. These
    | servers will be located in Ashburn, Virginia, USA.
  li
    | Free mumble servers for voice comms are located at
    |  mumble.redditgaming.com:64748 or mumble.redditeast.com:64738. You
    |  can also use your own mumble server.

h2 Prizes
ul
  li 1st Place: 10 keys per player and a 18 slot Chicago TF2 server.
  li 2nd Place: 5 keys per player and a 12 slot Chicago TF2 server.
  li 3rd Place: 2 keys per player and a 30 slot mumble server.
  li Server prizes generously provided by 
    a(href='http://tragicservers.com', title='adfad') TragicServers
    | . For more information about TragicServers and coupon codes, check out
    | the&nbsp;
    a(href='credits') credits
    | &nbsp;page.

h2
  a(href= steam_login) Register to play! (sign in through Steam)