h2 Reddit 2012 Summer Ultiduo Tournament

p
  | Ultiduo is a competetive 2v2 format with soldier and medic teams. It is
  |  played on the map&nbsp;
  a(href='http://ozfortress.com/maps/TF2/koth_ultiduo_r_b7',
    title='koth_ultiduo_r_b7') koth_ultiduo_r_b7
  | .

p
  | In this tournament, you will not have to find a teammate.  Players will be
  |  able to choose their teammates on the signup page, and the remaining
  |  players will be randomly matched to form teams. You will have to
  |  play with that
  |  teammate for the duration of the tournament.

p
  | If you plan on playing, check this website daily for match information
  |  and updates. Register by clicking the link on the left or at the bottom
  |  of this page.

p
  | Also please join&nbsp;
  a(href='http://steamcommunity.com/groups/rugc_ultiduo') this steam group
  |  to receive notifications about events and announcements about possible
  |  tournament changes.

h2 Requirements
ul
  li
    | You
    b  SHOULD
    |  have basic knowledge of or experience with competetive TF2.
  li
    | You <b>MUST</b> have a working microphone and be comfortable talking to
    | a random stranger on the internet.
  li
    | You
    b  MUST
    |  be able to work together with a partner and make
    |  the match dates.

h2 Dates
ul
  li
    | The deadline to register will be
    b  Wednesday, July 4, 2012 at 12:00PM EST
    | .
  li Teams will be announced on <b>Thursday, July 5, 2012</b>.
  li
    | Matches will begin every week on
    b  Saturday at 10:00 PM EST
    |  starting
    b  Saturday, July 7, 2012
    | .

h2 Servers
ul
  li
    | TF2 servers will be provided every week on the match day. These
    | servers will be located in Ashburn, Virginia, USA.
  li
    | Free mumble servers for voice comms are located at
    |  mumble.redditgaming.com:64748 or mumble.redditeast.com:64738. You
    |  can also use your own mumble server.

h2 Prizes
ul
  li 1st Place: 3 keys per player and a 18 slot Chicago/Dallas TF2 server per player.
  li 2nd Place: 2 keys per player and a 12 slot Chicago/Dallas TF2 server per player.
  li 3rd Place: 1 key per player and a 15 slot mumble server per player.
  li Server prizes generously provided by
    a(href='http://tragicservers.com', title='adfad') TragicServers
    | . For more information about them, check
    | the&nbsp;
    a(href='credits') credits
    | &nbsp;page.

h2
  a(href='/signup') Register to play!