doctype 5
html
  head
    title= "Reddit 2012 Summer Ultiduo Tournament"
    link(rel='shortcut icon', href='http://redditeast.com/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    include google_analytics.jade

  body
    #wrapper
      img(src="images/banner.png", id="banner",
          alt="Reddit Summer Ultiduo Tournament")

      #sidebar
        p
          a(href='/') Home
        p
          a(href='/signup') Signup
        p
          a(href='/players') Players
      !=body
