doctype 5
html
	head
		title= "RUGC East Coast Ultiduo Tournament"
		link(rel='shortcut icon', href='http://redditeast.com/favicon.ico')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#wrapper

			h1 Reddit Unofficial Gaming Community - East Coast presents...
			h1 A Team Fortress 2 Summer Ultiduo Tournament!

			!=body