doctype 5
html
  head
    title= "Reddit 2012 Summer Ultiduo Tournament"
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    include google_analytics.jade

  body
    #wrapper
      #banner
      nav
        ul
          li: a(href='/') Home
          li: a(href='/match') Match
          li: a(href='/bracket') Bracket
          li: a(href='/teams') Teams
          li: a(href='/rules') Rules
          li: a(href='/admins') Admins
          li: a(href='/time') Time
          li: a(href='/credits') Credits
      #main
        - if (error)
          p.error!= error
        !=body
