doctype 5
html
  head
    title= "Reddit 2012 Summer Ultiduo Tournament"
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    include google_analytics.jade

  body
    #wrapper
      #banner
      #sidebar
        a(href='/') Home
        p
          a(href='/signup') Register
        p
          a(href='/players') Players
        p
          a(href='/rules') Rules
        p
          a(href='/time') Time
        p
          a(href='/credits') Credits
      #main
        !=body
