doctype 5
html
  head
    title= "RUGC East Coast Ultiduo Tournament"
    link(rel='shortcut icon', href='http://redditeast.com/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body