h2 Please sign in through Steam to register
a(href=steam_url): img(src="http://cdn.huang.mx/i/SLRAZ.png",
                            alt="Sign in through Steam")

p

a(href='http://steampowered.com') Powered by Steam
