table.players
  tr
    th Player
    th Class

  each player in players
    tr
      td !{player.name}
      td
        - if (player.class_id == 1)
          img(src='http://cdn.huang.mx/i/wyrHi.png', alt='soldier')
        - else if (player.class_id == 2)
          img(src='http://cdn.huang.mx/i/nBGRi.png', alt='medic')
