h2 Registered Players

table.players
  tr
    th Player
    th SteamID
    th Class

  each player in players
    tr
      td
        a(href='http://steamcommunity.com/profile/' + player.steamid)
          != player.name
      td !{player.steamid}
      td
        - if (player.class_id == 1)
          | Soldier
        - else if (player.class_id == 2)
          | Medic
        - else if (player.class_id == 3)
          | Backup
