h2 Rules
ul
  li
    | Teams will play best 2 out of 3 rounds on a standard KOTH 5 minute
    | capture time config.
  li This is a single elimination tournament.
  li You may not use any other servers than the ones provided.
  li You may not change the match date or time.
  li
    | Each team is allowed 1 pause for a maxmimum of 5 minutes for the
    | ENTIRE game.
  li
    | If a full team is unable to show up within 15 minutes after the set
    |  match time,
    | the opposing team wins.
  li
    | <b>ONE</b> player from the <b>WINNING</b> team must report the match
    | result.
  li Ringing is not allowed.
  li Admins have the final say.