h2 Teams

- if (teams.length === 0)
  p No teams have been assigned yet!
- else
  table
    tr
      th Team Name
      th Soldier
      th Medic
    each team in teams
      tr
        td Team #!{team.id}
        td
          a(href='http://steamcommunity.com/profiles/' + team.soldier_steamid)
            != team.soldier_name
        td
          a(href='http://steamcommunity.com/profiles/' + team.medic_steamid)
            != team.medic_name
