<a href="http://time.is/New_York" id="time_is_link" style="font-size:36px">Time in New York:</a>
<span id="New_York_z161">
script(src="http://widget.time.is/en.js")
script(type='text/javascript')
  time_is_widget.init({New_York_z161:{template:"<h2>Official Time (EDT, UTC-4)</h2>" + "DATE<br/>TIME", time_format:"12hours:minutes:seconds AMPM", date_format:"dayname, monthname dnum, year"}});
</span>