h2 Select your class
p 
	="Hello, "
	=player

p
	a(href='/play_1') Play Soldier
p 
	a(href='/play_2') Play Medic

- if (class_id ==1)
	p You are selected to play soldier.
	p
		img(src='images/solly.png', id='soldier_image', alt='soldier_image')


p 
	a(href='/play_0') Remove from tournament

p
	a(href='/logout') Logout