h2 Select your class:

h3
	=player
	=" ["
	=steamid
	="]"

p
	a(href='/play_1') Play Soldier
p 
	a(href='/play_2') Play Medic
p 
	a(href='/play_0') Remove from tournament

- if (class_id == 1)
	p You are currently selected to play soldier.
	p
		img(src='images/solly.png', id='soldier_image', alt='soldier_image')
- else if (class_id == 2)
	p You are currently selected to play medic.
	p
		img(src='images/medic.png', id='medic_image', alt='medic_image')
- else
	p You are currently not selected to play any class.

p Your class choice will be locked in on [put a date here].

p
	a(href='/logout') Logout