body {
  font: 14px Helvetica, Arial, sans-serif;
  background-image: url('http://cdn.huang.mx/i/89h5y.png');
}

a {
  color: #00B7FF;
}

#banner {
  width: 800px;
  height: 125px;
  background-image: url('http://cdn.huang.mx/i/kJRjW.png');
  margin-bottom: 10px;
}

#wrapper {
  width: 800px;
  height: 100%;
  margin: 0px auto;
  margin-top: 5px;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
}

#wrapper h1 {
  font-size: 26px;
}

#sidebar {
  float: left;
  width: 65px;
  font-size: 20px;
}

#main {
  float: right;
  width: 680px;
  border-left: 1px solid gray;
  padding-left: 28px;
  min-height: 320px;
}

table.players {
  width: 100%;
}

#sidebar hr {
  border: 0;
  height: 1px;
  color: #000000;
  background-color: #000000;
}