body {
  font: 14px Helvetica, Arial, sans-serif;
  background-image: url('http://cdn.huang.mx/i/ZRck4.jpg');
}

a {
  color: #F14E32;
}

#banner {
  width: 800px;
  height: 125px;
  background-image: url('http://cdn.huang.mx/i/kJRjW.png');
  margin-bottom: 10px;
}

#wrapper {
  width: 800px;
  height: 100%;
  margin: 0px auto;
  margin-top: 5px;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
}

#wrapper h1 {
  font-size: 26px;
}

#sidebar {
  float: left;
  width: 65px;
  font-size: 20px;
}

#main {
  float: right;
  width: 680px;
  padding: 5px 20px 20px 20px;
  background: #FCFCFA;
}

table.players {
  width: 100%;
}

#sidebar hr {
  border: 0;
  height: 8px;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

  #time_is_link {
    display: none;
  }